/* NavBar */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 
 }
body {
      height:100%;
      width: 100%;
      margin: 0;
      padding: 30px;
      overflow-x: hidden;
      font-family: 'Poppins', serif;
      
    }
    .navbar{
  
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 12vh;
      width: 100vw;
      font-family: 'Poppins';  
    }
    #hotel-name{
      margin-right: auto;
      margin-left: 2%;
      font-size: 2rem;
      color: #ff8800;
      font-family: 'Ranchers';
    }
    
    #nav-links{
      
      height: 100%;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .nav-link{
      color: black;
      text-decoration: none;
    }
    .active, .nav-link:hover{
      color: #ff8800;
    }
    #book-now{
     color: white;
     border: thin solid #ff8800;;
     padding: 0.5rem 1rem;
     border-radius: 1.2rem;
     background-color: #ff8800;; 
    }
    #harmburger{
      visibility: hidden;
    }
    .section{
      height: 80vh;
      width: 100vw;
      background-color: green;
      margin: 1rem;
    }
    
    @media screen and (max-width: 768px){
      .navbar{
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column; 
        clip-path: circle(0px);
        -webkit-clip-path: circle(0px);
        transition: all .5s ease-out;
        
        
      }
      .navbar.open{
        clip-path: circle(1000px);
        -webkit-clip-path: circle(1000px);
    
      }
      #hotel-name{
        margin-left: auto;
      }
      #nav-links{
        flex-direction: column;
        color: white;
    
      }
      .nav-link{
        color: white;
      }
      .active, .nav-link:hover{
        color: #ff8800;
      }
      
      .harmburger{
        position: absolute;
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 2%;
        transform: translate(-5%, 35%);
        z-index: 2;
        background-color: white;
        border-radius: 50%;
        padding: 0.25rem;
        box-shadow: 0 0.25rem 0.25rem black;
      }
      label,
      label::before,
      label::after{
      position: absolute;
      width: 1.5rem;
      height: 0.2rem;
      border-radius:0.3rem;
      background-color: #ff8800;
      transition: 0.3s;
      -webkit-transition: 0.3s;
    
      }
      label{
      cursor: pointer;
      top: 8%;
      right: 8%;
      z-index: 100;
    
      }
      label::before{
      content: "";
      transform: translateY(-0.4rem);
      -webkit-transform: translateY(-0.4rem);
      }
      label::after{
      content: "";
      transform: translateY(0.4rem);
      -webkit-transform: translateY(0.4rem);
      }
      #harmburger:checked + label {
      width: 0;
      }
      #harmburger:checked + label::before {
      transform: rotate(45deg) translate(0) rotate(2turn);
      -webkit-transform:rotate(45deg) translate(0) rotate(2turn);
    
      }
      #harmburger:checked + label::after{
      transform: rotate(-45deg) translate(0) rotate(2turn);
      -webkit-transform:rotate(-45deg) translate(0) rotate(2turn) ;
      }
    
    } 





/*HeaderBody*/

.container-fluid {
   /* background-color: #C4C4C4;*/
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   height: 819px;
   top: 0px;
   left: 1px;
   resize: both;
   display: block;
}

#header3 {
   background-image: url("../images/three.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

#header4 {
   background-image: url("../images/four.jpg"), linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

#header1 {
   background-image: url("../images/one.jpg"), linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

#header2 {
   background-image: url("../images/two.jpg"), linear-gradient(rgba(0, 0, 128, 0.3), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

.facilities {
   position: absolute;
   width: 390px;
   height: 30px;
   left: 81px;
   top: 420px;
   font-family: Poppins;
   font-style: normal;
   font-weight: bold;
   font-size: 35px;
   line-height: 50px;
   color: #FF8A00;
}

.facilitiesText {
   position: absolute;
   width: 420px;
   height: 177px;
   left: 81px;
   top: 480px;
   font-family: Poppins;
   font-style: normal;
   /*font-weight: bold;*/
   font-size: 22px;
   line-height: 35px;
   color: #FFFFFF;
}

.btnBook {
   position: absolute;
   font-family: Poppins;
   font-style: normal;
   /*font-weight: 500;*/
   font-size: 20px;
   top: 630px;
   left: 81px;
   height: 49px;
   width: 161px;
   /*  line-height: 36px;*/
   background-color: #FF8A00;
   color: white;
   border: thin solid #ff8800;
   ;
   padding: 0.5rem 1rem;
   border-radius: 1.2rem;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
/* facilities */
.container{
   width: 100%;
   height: 80vh;
   perspective: 1500px;
   position: relative;
 }

 .bg-image{
   position: absolute;
   width: 100%;
   height: 85vh;
   background-position: center;
   background-image: url(../images/img1.png);
   background-blend-mode: screen;
   background-size: cover;
   
 }
 .text-box{
   position: relative;
   padding: 2px 5px;
   margin-top: 15%;
   height: auto;
   
   
 }
 .text-bold{
   display: block;
   text-transform: uppercase;
   font-family: Poppins;
   font-style: normal;
   font-weight: bold;
   font-size: 1.9rem;
   line-height: 72px;
   color: #FF8A00;
   margin-top: 5rem;

 }
 .text-2{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 54px;
   color: #FFFFFF;
 }
.text-book{
  
  display: block;
  background: #FF8A00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  border-radius: 29px;
  padding: 5px;
  padding-top: -30px;
  width: 20%;
  text-align: center;
  margin-top: 1rem;
  
}
.text-book a{
 text-decoration: none;
 color: #FFFFFF ;
 font-family: 'Poppins';

}

.card {
 height: 25rem;
 box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
 margin-top: 5rem;
 
 width: 18rem;
 
 
}
.big{
 
 margin-bottom: 1.2rem;
}
.containers {
 text-align: start;
 padding: 15px;
 padding-top: 10px;
 
}
.section-1{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
}
 


@media screen and (max-width:1081px ){
.text-box{
  display: flex;
  font-size:   1.2rem;
  flex-direction: column;
  margin-top: 10%;
  height: auto; 
  text-align: center;
  margin-bottom: 2rem;

}

.container{
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;

}
.dark-scarf{
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;
 text-align: center  ;


}
.text-book{
 flex: 1;
 font-size: 1.2rem;
 width: 8rem;
 height: auto;
 align-self: center;
 
}
.text-2{
 flex: 1 1 200px;
 font-size: 1.2rem;
}
.text-bold{
 flex: 1 1 200px;
 font-size: 1.2rem;
 margin-bottom: -9rem;
 margin-top: -0.2rem;
}
}














.dark-scarf {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
 .row{
   position: absolute;
 }
 .col-1{
   width: 8.33%;
   position: relative;
   float: left;
 }
 .col-2{
   width: 16.66%;
   position: relative;
   float: left;
 }
 .col-3{
   width: 25%;
   position: relative;
   float: left;
 }
 .col-4{
   width: 33.33%;
   position: relative;
   float: left;
 }
 .col-5{
   width: 41.66%;
   position: relative;
   float: left;
 }
 .col-6{
   width: 50%;
   position: relative;
   float: left;
 }
 .col-7{
   width: 58.33%;
   position: relative;
   float: left;
 }
 .col-8{
   width: 66.66%;
   position: relative;
   float: left;
 }
 .col-9{
   width: 75%;
   position: relative;
   float: left;
 }
 .col-10{
   width: 83.33%;
   position: relative;
   float: left;
 }
 .col-11{
   width: 91.66%;
   position: relative;
   float: left;
 }
 .col-12{
   width: 100%;
   position: relative;
   float: left;
 }
 .off-101 {
   margin-left: 5%;
 }
 .off-102 {
   margin-left: 3%;
 }
 .off-103 {
   margin-left: 5px;
 }
 .off-1{
   margin-left: 8.33%;
 }
 .off-2{
   margin-left: 16.66%;
 }
 
 .off-4{
   margin-left: 33.33%;
 }
 .down-1 {
   margin-top: 1%;
 }
 .down-2 {
   margin-top: 2%;
 }
 .down-3{
 margin-top: 3%;
 }
 .down-4 {
   margin-top: 4%;
 }
 .down-5{
 margin-top: 5%;
 }
 .down-6{
   margin-top: 6%;
 }
 .down-10{
   margin-top: 10%;
 }
 .down-15 {
   margin-top: 15%;
 }
 .down-20 {
   margin-top: 20%;
 }
 .up-50{
   margin-bottom: 50%;
 }
 