/* NavBar */

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.navbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 12vh;
   width: 100vw;
   font-family: 'Poppins';
}

#hotel-name {
   margin-right: auto;
   margin-left: 2%;
   font-size: 2rem;
   color: #ff8800;
   font-family: 'Ranchers';
}

#nav-links {
   height: 100%;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav-link {
   color: black;
   text-decoration: none;
}

.nav-link:hover {
   color: #ff8800;
}

#book-now {
   color: white;
   border: thin solid #ff8800;
   ;
   padding: 0.5rem 1rem;
   border-radius: 1.2rem;
   background-color: #ff8800;
   ;
}

#harmburger {
   visibility: hidden;
}

@media screen and (max-width: 768px) {
   .navbar {
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      clip-path: circle(0px);
      -webkit-clip-path: circle(0px);
      transition: all .5s ease-out;
      z-index: 999;
   }
   .navbar.open {
      clip-path: circle(1000px);
      -webkit-clip-path: circle(1000px);
   }
   #hotel-name {
      margin-left: auto;
   }
   #nav-links {
      flex-direction: column;
      color: white;
   }
   .nav-link {
      color: white;
   }
   .harmburger {
      position: absolute;
      position: fixed;
      cursor: pointer;
      right: 5%;
      top: 2%;
      transform: translate(-5%, 35%);
      z-index: 2;
      background-color: white;
      border-radius: 50%;
      padding: 0.25rem;
      box-shadow: 0 0.25rem 0.25rem black;
   }
   label, label::before, label::after {
      position: absolute;
      width: 1.5rem;
      height: 0.2rem;
      border-radius: 0.3rem;
      background-color: #ff8800;
      transition: 0.3s;
      -webkit-transition: 0.3s;
   }
   label {
      cursor: pointer;
      top: 8%;
      right: 8%;
      z-index: 2;
   }
   label::before {
      content: "";
      transform: translateY(-0.3rem);
      -webkit-transform: translateY(-0.3rem);
   }
   label::after {
      content: "";
      transform: translateY(0.3rem);
      -webkit-transform: translateY(0.3rem);
   }
   #harmburger:checked+label {
      width: 0;
   }
   #harmburger:checked+label::before {
      transform: rotate(45deg) translate(0) rotate(2turn);
      -webkit-transform: rotate(45deg) translate(0) rotate(2turn);
   }
   #harmburger:checked+label::after {
      transform: rotate(-45deg) translate(0) rotate(2turn);
      -webkit-transform: rotate(-45deg) translate(0) rotate(2turn);
   }
}

/*HeaderBody*/

.container-fluid {
   /* background-color: #C4C4C4;*/
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   height: 819px;
   top: 0px;
   left: 1px;
   resize: both;
   display: block;
}

#header3 {
   background-image: url("../images/three.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

#header4 {
   background-image: url("../images/four.jpg"), linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

#header1 {
   background-image: url("../images/one.jpg"), linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

#header2 {
   background-image: url("../images/two.jpg"), linear-gradient(rgba(0, 0, 128, 0.3), rgba(0, 0, 0, 0.5));
   background-blend-mode: overlay;
}

.facilities {
   position: absolute;
   width: 390px;
   height: 30px;
   left: 81px;
   top: 420px;
   font-family: Poppins;
   font-style: normal;
   font-weight: bold;
   font-size: 35px;
   line-height: 50px;
   color: #FF8A00;
}

.facilitiesText {
   position: absolute;
   width: 420px;
   height: 177px;
   left: 81px;
   top: 480px;
   font-family: Poppins;
   font-style: normal;
   /*font-weight: bold;*/
   font-size: 22px;
   line-height: 35px;
   color: #FFFFFF;
}

.btnBook {
   position: absolute;
   font-family: Poppins;
   font-style: normal;
   /*font-weight: 500;*/
   font-size: 20px;
   top: 630px;
   left: 81px;
   height: 49px;
   width: 161px;
   /*  line-height: 36px;*/
   background-color: #FF8A00;
   color: white;
   border: thin solid #ff8800;
   ;
   padding: 0.5rem 1rem;
   border-radius: 1.2rem;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/*Mainpage*/
body {
	width: 100%;
	height: 100%;
	line-height: 1.5;
	font-family: Poppins, helvetical, arial, sans-serif;
  margin: 0;
  /*overflow-x: hidden;*/
}
a {
  text-decoration: none;
}

img {
  filter: brightness(50%);
}
.mother {
	width: 100%;
	position: relative;
	float: left;
}
.col-1{
  width: 8.33%;
  position: relative;
  float: left;
}
.col-2{
  width: 16.66%;
  position: relative;
  float: left;
}
.col-3{
  width: 25%;
  position: relative;
  float: left;
}
.col-4{
  width: 33.33%;
  position: relative;
  float: left;
}
.col-5{
  width: 41.66%;
  position: relative;
  float: left;
}

.col-7{
  width: 58.33%;
  position: relative;
  float: left;
}
.col-8{
  width: 66.66%;
  position: relative;
  float: left;
}
.col-9{
  width: 75%;
  position: relative;
  float: left;
}
.col-10{
  width: 83.33%;
  position: relative;
  float: left;
}
.col-11{
  width: 91.66%;
  position: relative;
  float: left;
}
.col-12{
  width: 100%;
  position: relative;
  float: left;	
}

.off-2{
  margin-left: 16.66%;
}
.off-3{
  margin-left: 25%;
}
.off-4{
  margin-left: 33.33%;
}
.down-1 {
  margin-top: 1%;
}
.down-2 {
  margin-top: 2%;
}
.down-3{
margin-top: 3%;
}
.down-4 {
  margin-top: 4%;
}
.down-5{
margin-top: 5%;
}
.down-6{
  margin-top: 6%;
}
.down-10{
  margin-top: 10%;
}
.down-15 {
  margin-top: 15%;
}
.down-20 {
  margin-top: 20%;
}
.down-25 {
  margin-top: 25%;
}

.bottom-30 {
  padding-bottom: 30px;
}
.bottom-50 {
  padding-bottom: 50px;
} 
.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-code-1 {
  color: #FF8A00;
}
.bg-color-code-1 {
  background-color: #E5E5E5;
}
.bg-color-code-2 {
  background-color: #FF8A00;
}
.px13 {
  font-size: 13px;
}
.px24 {
  font-size: 24px;
}
.px30 {
  font-size: 30px;
}
.px36 { 
  font-size: 36px;
}
.px48 {
  font-size: 48px;
}
.font-weight-bold {
  font-weight: bold;

}
.text-center {
  text-align: center;
}
.font-weight-500 {
  font-weight: 500;
  
}
.font-weight-900 {
  font-weight: 900;
  
}
.btn-sm{
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 12px;
	margin-top: 10px;
	display: inline-block;
	transition: 0.3s ease-in-out;
}
.container {
  width: 94%;
  position: relative;
  float: left;
  margin-left: 3%;
}
.img-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
} 
.card {
  width: 94%;
  position: absolute;
	float: left;
  left: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.card-2 {
  width: 94%;
  position: absolute;
	float: left;
  left: -150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background: #FF8A00;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

 /*this is the footer section*/

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
footer{
   background-color: #ff8a00;
   padding: 10px;
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.footerdetails{
   width:100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   color: white;
   margin-top: 35px;
   margin-bottom: 50px;
   padding: 5px 0;
}

.footercall,
.footerfind{
   margin-bottom: 12px;
}

.footernumber{
   color: black;
   font-weight: bold;
}
.footerinput{
   width: 35%;
}
.footerinput input[type="email"]{
   border:none;
   outline: none;
   border-bottom: 1px solid black;
   background-color: #ff8a00;
   font-size: 17px;
   width: 190px;
   padding: 5px 0;
   font-family: 'Poppins', sans-serif;
}

.footerinput input[type="submit"]{
   border: none;
   font-family: 'Poppins', sans-serif;
   background-color: white;
   padding: 5px 20px;
   border-radius: 15px;
   font-weight: bold;
}

.footerinput input[type="submit"]:hover{
   border: 1px solid white;
   background-color: inherit;
   color: white;
}

.icons{
   display: flex;
   justify-content: center;
}

.iconslogo{
   margin-right: 18px;
}
.twitter{
   padding: 5px 6px;
   height: 28px;
   border-radius: 50%;
   background-color: white;
   color:#ff8a00;
}

.facebook{
   padding: 3px 6px;
   height: 28px;
   border-radius: 50%;
   background-color: white;
   color: #ff8a00;
}

.mail{
   background-color: #ff8a00;
   color: white;
   font-size: 25px;
}
.mail:hover{
   cursor:pointer;
}
.twitter:hover,
.facebook:hover{
   cursor: pointer;
   border: 1px solid white;
   background-color: #ff8a00;
   color: white;
}
.footerjoin{
   margin-bottom: 12px;
}

.footerdetails-items{
   border-right: 1px solid black;
   width:35%;
   height: 150px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.lastfooterdiv{
   text-align: center;
   padding: 10px 0;
}

.lastfooterdiv p{
   font-weight: bold;
}

#warnindicator{
   margin-top: 10px;
   font-size: 16px;
   color: red;
}

#warncorrect{
   margin-top: 10px;
   font-size: 16px;
   color: green;
}

@media (max-width:600px){
   .footerdetails{
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
   }

   .footerdetails-items{
      margin-bottom: 30px;
      border:none;
      width:100%;
      display: block;
   }

   .lastfooterdiv{
   text-align: center;
   padding: 10px 0;
   }

   .footerinput{
      width: 100%;
   }
}
   /*footer media queries*/
@media (min-width: 601px) and (max-width:700px){
   .footerdetails-items{
      width:30%;
      padding: 0 10px;
   }
   .footerinput input[type="email"]{
      width: 50%;
   }

   .footerinput input[type="submit"]{
      width: 45%;
      padding: 5px 10px;
      text-align:center;
   }

   .lastfooterdiv{
      text-align: center;
   }
